<!-- templates/blog/index.html -->
{% extends 'base.html' %}
{% block title %} {{ block.super}} Home {% endblock title %}
{% load static %}

{% block content %}

    <!--============================== Hero ==============================-->
    {% include 'blog/components/hero.html' %}
    <!--============================== Hero end ==============================-->

    <!--========================== Posts Trend ==========================-->
    {% include 'blog/components/posts_trend.html' %}
    <!--========================== Posts Trend end ==========================-->

    <!--========================== Posts latest ==========================-->
    {% include 'blog/components/posts_latest.html' %}
    <!--========================== Posts latest end ==========================-->

{% endblock content %}