{% load static %}

    <div class="bg-warning border-bottom border-dark">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center">
                    <div>
                        <h2 class="display-1">Stay curious.</h2>
                        <p class="lead">
                            Discover stories, thinking, and expertise from writers on any topic.
                        </p>
                        <a href="" class="btn btn-dark text-ligh rounded-pill px-5 py-2">Start reading</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img src="https://picsum.photos/id/117/1000/600?grayscale" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>