{% load static %}

    <nav class="navbar navbar-expand-lg bg-warning border-bottom border-dark">
        <div class="container py-2">
            <a class="navbar-brand" href="/">MD Clone</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav  ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our story</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Membership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:create_blog_post_view' %}">Write</a>
                    </li>

                    <!-- Dropdown -->
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ user.username}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">My posts</a></li>
                            <li><a class="dropdown-item" href="">Edit profile</a></li>
                            <li><a class="dropdown-item" href="">Favs</a></li>
                            <li><a class="dropdown-item" href="{% url 'account:logout_view' %}">Log out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:login_view' %}">
                            Sign In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark text-light px-3 rounded-pill ms-3"
                            href="{% url 'account:register_view' %}">
                            Get Started
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>